{% load staticfiles %}
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Vars*/
:root {
	--primary: #463b3b;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: var(--primary);
}

body {
	margin: 0px;
	line-height: 1.4;
}

img {
	max-width: 100%;
}

/*.nav-white {
	background-color: white;
	z-index: 20;
}*/

.wrapper {
	display: grid;
}

.home-hero {
	position: relative;
	background-image: url('../img/wood-cube.jpg');
	background-size: cover;
	background-position: center;
	height: 18vh;
}

header {
	height: 50px;
	width: 1200px;
	background-color: #ffffffab;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	border-radius: 0px 0px 25px 25px;
}

.logo {
	display: grid;
	width: 90px;
	padding-top: 8px;
	padding-left: 22px;
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-right: 12px;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: #463b3b;
	font-size: .85rem;
}

.introduction {

}

.bar {
	display: grid;
	text-align: center;
	background-color: #e8e2db;
	width: 100%;
	height: 5.5vh;
	border-radius: 0px 0px 25px 25px;
	border-bottom: solid 1px #c5bdb9;
	border-top: solid 1px #c5bdb9;
	align-content: center;
	font-weight: 900;
	font-size: 1.3rem;
	/*text-transform: uppercase;*/
}
.bar h1 {
	border-bottom: solid 1px;
	width: 10vw;
	margin: 0 auto;
}

.container-1 {
	display: grid;
	text-align: center;
	align-content: center;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	height: 40vh;
	max-width: 1200px;
	margin: 0 auto;
	padding: 15.3vh 0vh;
/*	grid-template-areas:
		' mon mon mon'
		'spec1 spec2 spec3';*/

}


.foto {
	background-image: url('../img/portrait.jpeg');
	background-size: cover;
	background-position: center;
	border-radius: 2%;
}

.opis {
	padding: 0vw 6vw;
}

.opis h1 {
	font-size: 1.3rem;
	margin-top: -15px;
}
.opis h3 {
	padding-bottom: 1rem;
}

.faq {
	background-image: url('https://images.pexels.com/photos/872958/pexels-photo-872958.jpeg');
	background-size: cover;
	background-position: center;

}

.container-2 {
	display: grid;
	width: 1200px;
	margin: 10vh auto;
	/*margin-bottom: 10vh;*/

}

.bar.pytania {
	border-radius: 0px;
	margin-bottom: 3px;

}

.bar.pytania h1 {
	border-bottom: solid 1px;
	margin: 0 auto;
	width: 30vw;
}

.qa {
	/*margin-bottom: 3px;*/
	/*margin:2vh auto;*/
	padding: 1.5vh;
}

.question {
	display: grid;
	align-content: center;
	text-align: center;
	height: 7vh;
	padding: 0px 20px;
	background-color: #ececec;
	border-radius: 5px;
	text-align: center;
	font-size: 1.1rem;
	cursor: pointer;
	transition: all ease-in-out 200ms;
}

.question:hover {
	background-color: #463b3b;
	color: white;
	transition: 
}

.answer {
	text-align: center;
	margin-top: -3px;
	border-right:  solid 1px #ececec;
	border-bottom: solid 1px #ececec;
	border-left:   solid 1px #ececec;
	border-radius: 0px 0px 25px 25px;
	display: none;
	padding: 20px;
}

.question.active {
	background-color: #463b3b;
	color: white;
}

.bar.artykuly {
	border-radius: 0px;
}

.container-3 {
	display: grid;
	width: 1200px;
	margin: 0vh auto;
}

.container-3 h5 {
	/*text-align: right;*/
	font-weight: 400;
}

.searchbar {
	position: relative;
	margin: 2vh auto;
	padding-bottom: 5vh;
}
.searchtext-style {
	position: relative;
	border: solid 2px #ececec;
	border-radius: 25px;
	height: 40px;
	width: 25vw;
	font-size: 1.3rem;
}

.searchtext input {
	height: 40px;
}

input[type=text] {
	position: absolute;
	/*margin: 0 auto;*/
	top: 0;
	left: 7%;
	border: 0px;
	height: 40px;
	width: 20vw;
	font-size: 1.2rem;
}


button[type=submit] {
	position: absolute;
	background-color: #e8e2db;
	border: 0px;
	border-radius: 50%;
	height: 42px;
	width: 42px;
	top: 0;
	right: 0;
}

button[type=submit]:hover {

}

button.searchbutton {
	cursor: pointer;
	background-color: #e8e2db;
	color: white;
}

.fa-2x {
	font-size: 1.7em;
	color: #463b3b;
}

.article {
	padding: 2vh 0vh;
}

.article p {
	/*white-space: nowrap;*/
}

.art-title {
	font-size: 1.3rem;
	padding: 1vh 0vh;
}

.art-title a{
	color: #44316f;
}
